.fundoCadastro {
    background-image: url("https://ik.imagekit.io/fxpct4486/ImgLinks/cadastroimg.jpg?updatedAt=1717028733522");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }